<style type='text/css'>
   body {
       font-family: "IPAGothic"
   }
  table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
    table-layout: fixed; 
  }
  caption, th, td {
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    border: solid 1px;
    padding: 0.5em;
  }
  .pagebreak{
    page-break-after: always;
  }
</style>
<% blank_columns = 3 # 空の行の数%>
<% @groups.each_with_index do |group, i| %>
  <div class='pagebreak'>
  <h1 align="center">参加団体情報管理表</h1>
  <table align="center">
    <tr>
      <td width="20%">No.</td>
      <td width="65%"><%= i + 1 %></td>
      <td width="15%"><%= group.id.to_s %></td>
    </tr>
    <tr>
      <td height="50px">団体名</td>
      <td colspan="2"><%= group.name %></td>
    </tr>
    <tr>
      <td>分類</td>
      <td colspan="2"><%= group.group_category.to_s %></td>
    </tr>
  </table>
  <table align="center">
    <tr>
      <td width="20%" rowspan="2">活動時間</td>
      <td width="40%"><%= @fes_date.where(days_num: 1).first.to_s + " (1日目)"%></td>
      <td width="40%">10：00～17：00</td>
    </tr>
    <tr>
      <td width="40%"><%= @fes_date.where(days_num: 2).first.to_s + " (2日目)"%></td>
      <td width="40%">10：00～17：00</td>
    </tr>
    <tr>
      <td height="50px">場所</td>
      <td colspan="2"><%= get_place_by_group(group.id) %></td>
    </tr>
    <tr>
      <td>電力</td>
      <td colspan="2"><%= PowerOrder.where(group_id: group.id).first.try(:power) %> [W]</td>
    </tr>
  </table>
  <br>
  <div>◆貸出物品一覧</div>
  <table algin="center">
    <thead>
      <tr>
        <td width="20%">物品名</td>
        <td width="30%">借りる場所</td>
        <td width="10%">数量</td>
        <td width="15%">貸出日</td>
        <td width="15%">返却日</td>
        <td width="10%">返却チェック</td>
      </tr>
    </thead>
    <tbody>
      <% assign_items = get_assign_rental_items_by_group(group.id) %>
      <% row_span = blank_columns # 貸出物品一覧の行数が入る %>
      <% is_create_return_check_column = false # 返却チェック欄の生成フラグ %>
      <% RentalItem.all.each do |rental_item| %>
        <% item_count = find_assign_rental_item_by_rental_item_id(assign_items, rental_item.id).count %>
        <% row_span += item_count == 0 ? 1 : item_count %>
      <% end %>
      <% RentalItem.all.each do |rental_item| %>
        <% items = find_assign_rental_item_by_rental_item_id(assign_items, rental_item.id) %>
        <% if items.empty? then %>
          <tr>
            <td><%= rental_item.to_s %></td>
            <td></td>
            <td></td>
            <td><%= GroupManagerCommonOption.first.rental_item_day %></td>
            <td><%= GroupManagerCommonOption.first.return_item_day %></td>
            <% if is_create_return_check_column == false then %>
              <td rowspan="<%= row_span %>"></td>
              <% is_create_return_check_column = true %>
            <% end %>
          </tr>
        <% end %>
        <% items.each_with_index do |item, j| %>
          <tr>
            <% if j == 0 then %>
              <td rowspan="<%= items.count %>"><%= rental_item.to_s %></td>
            <% end %>
            <td><%= item.try(:rentable_item).try(:stocker_place).to_s %></td>
            <td><%= item.try(:num) %></td>
            <td><%= GroupManagerCommonOption.first.rental_item_day %></td>
            <td><%= GroupManagerCommonOption.first.return_item_day %></td>
            <% if is_create_return_check_column == false then %>
              <td rowspan="<%= row_span %>"></td>
              <% is_create_return_check_column = true %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <% blank_columns.times do %>
        <tr>
          <td height="30px"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div>
  《注意事項》<br>
    ●  物品は借用・返却場所を間違えないようにしてください．<br>
    ●  返却時は本部でチェックを受けてください．<br>
    ●  備品等は絶対に汚さないように使用し，綺麗にしてから返却して下さい．<br>
  </div>
  </div>
<% end %>
