<div class="page-header">
  <h1><%=t '.title', :default => @orders.first().rental_item.name_ja + 'の割当' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Group.model_name.human.pluralize.titleize %></th>
      <th><%= RentalOrder.human_attribute_name(:num) %></th>
      <% @rentables.each do |rentable| %>
        <th><center><%= rentable.to_s %>の割当</center></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.group %></td>
        <td><%= order.num %></td>
        <% @rentables.each do |rentable| %>
          <% assign = AssignRentalItem.where(rental_order_id: order)
          .where(rentable_item_id: rentable).first() %>
        <td><center><%= assign.num %></center></td>
        <td><center>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assign_rental_item_path(assign), :class => 'btn btn-default btn-xs' %>
        </center></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
